<h1 style="text-align: center;" appHost>Tablet Products...!</h1>
<!-- <div class="center">
    <a class="waves-effect waves-light btn-large" routerLink="iPads" style="margin-right: 15px;">iPad</a>
</div> -->

<br>

<div>
    <ul>
      <li *ngFor="let tabPart of tabParts">
        <div class="col s12 m4">
          <div class="card" style="border:2px dotted" [class.clsName]="tabPart.clsVar">
            <div class="card-content">
              <p id="appSimpleStyle">
                Mobile Part ID : <b>{{ tabPart.id }}</b>
              </p>
              <div>
                Mobile Part Name :
                <b><i>{{ tabPart.name | uppercase }}</i></b>
              </div>
              <div>
                Description : <q>{{ tabPart.description }}</q>
              </div>
              </div>
          </div>
        </div>
      </li>
    </ul>
  </div>