<h1>Reactive-forms works!</h1>

<form [formGroup]="formObj">
    <div class="input-field col s12">
        <label>Name</label>
        <input type="text" formControlName="uN"/>

        <div
        style="color: red;"
        *ngIf="formObj.get('uN').touched && formObj.get('uN').invalid"
      >
        Error...!
      </div>
    </div>

    <div class="input-field col s12">
      <label>Name Reuired noSpace</label>
      <input type="text" formControlName="userName" />
  
      <div style="color: red;" *ngIf="uNG.touched && uNG.invalid">
        Error...!
        <div *ngIf="uNG.errors.required">Reuired...</div>
        <div *ngIf="uNG.errors.noSpace">noSpace...</div>
        <div *ngIf="uNG.errors.minlength">
          Min {{ uNG.errors.minlength.requiredLength }} Length
        </div>
      </div>
    </div>

    <div class="input-field col s12">
        <label>Name by get</label>
        <input type="text" formControlName="uNameGet"/>

        <div
        style="color: red;"
        *ngIf="uNameG.touched && uNameG.invalid"
      >
        Error in get name...!
        <div *ngIf="uNameG.errors.required">Reuired...</div>
        <!-- <div *ngIf="uNameG.errors.noSpace">noSpace...</div> -->
        <div *ngIf="uNameG.errors.minlength">
          Min {{ uNameG.errors.minlength.requiredLength }} Length
        </div>
      </div>
    </div>

    <div class="input-field col s12">
        <label>Password</label>
        <input type="password" formControlName="uPass"/>
        <div
        style="color: red;"
        *ngIf="formObj.get('uPass').touched && formObj.get('uPass').invalid"
      >
        Password Error...!
      </div>
    </div>
</form>
