<!-- <a class="waves-effect waves-light btn-large" routerLink="dashNav" style="margin-right: 15px;">Dashboard Navigation</a> -->
<nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li *ngIf="issuperLogin()"><a routerLink="superLogin">Super Dashboard<i class="material-icons right">dashboard</i></a></li>
          <li *ngIf="!issuperLogin()"><a routerLink="superLogin">Login<i class="material-icons right">person</i></a></li>
          <!-- <li *ngIf="issuperLogin()">
            <a routerLink="dashboardNav" (click)="superlogout()">LogOut<i class="material-icons right">person_outline</i></a>
          </li> -->
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet> 