<h1>
    Welcome to Electronics Mart!
</h1>
<!-- <div class="row center" style="background-color: beige;">
    <div class="col s6 offset-s5 g-signin2 center" data-onsuccess="onSignIn"></div>
    <img src="" id="img" width="200" />
    <div id="name"></div>
    <div id="email"></div>
    <div id="id"></div>
    <a class="col m11 offset-s6 " href="#" onclick="signOut();">Sign out</a>
  </div>

  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script>
  function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.

  document.getElementById("img").src = profile.getImageUrl();
  document.getElementById("name").innerHTML = profile.getName();
  document.getElementById("email").innerHTML = profile.getEmail();
  document.getElementById("id").innerHTML = profile.getId();
}
  
    function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
        console.log('User signed out.');
        document.getElementById("img").src = '';
        document.getElementById("name").innerHTML = '';
        document.getElementById("email").innerHTML = '';
        document.getElementById("id").innerHTML = '';
      });
    }
  </script> -->
