<style>
#download-button {
  transition:  transform 2s;
}

#download-button:hover {
  transform: rotate(180deg);
}
</style>
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br /><br />
        <h1 class="header center teal-text text-lighten-2">
          Electro Mart
        </h1>
        <div class="row center">
          <h5 class="header col s12 light">
            A modern Electronic market!
          </h5>
        </div>
        <div class="row center">
          <a
            href="#"
            id="download-button"
            class="btn-large waves-effect waves-light teal lighten-1"
            >Get Started</a
          >
        </div>
        <br /><br />
      </div>
    </div>
    <div class="parallax">
      <img
        src="./../assets/img/banner111.jpg"
        alt="Unsplashed background img 1"
      />
    </div>
  </div>